# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
/src/CMakeCache.txt
/src/CMakeFiles/*.cmake
/src/CMakeFiles/*.bin
/src/CMakeFiles
/src/*.cmake
/src/install_manifest.txt
/src/Makefile
